@model IEnumerable<Library_Management_System_.Models.tblBook>

@{
    ViewBag.Title = "Index";
}

<h2>library management system (LMS) </h2>
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<style>
    .table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 14px;
        text-align: left;
    }

        .table th {
            background-color: #343a40;
            color: #fff;
            padding: 10px;
        }

        .table td {
            padding: 8px;
            border: 1px solid #dee2e6;
        }

    .btn-primary {
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 8px 15px;
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

    .form-control {
        margin-bottom: 10px;
    }

    .search-bar {
        max-width: 500px;
        margin: auto;
    }

</style>

<br />
<form method="get" action="@Url.Action("Index")" class="search-bar">
    <input type="text" name="search" placeholder="Search by Title, Author, or ISBN" class="form-control" />
    <button type="submit" class="btn btn-dark mt-2">Search</button>
</form>
<br />

<p>
    @Html.ActionLink("Create New", "Create", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.CategoryType)</th>
        <th>@Html.DisplayNameFor(model => model.AuthorName)</th>
        <th>@Html.DisplayNameFor(model => model.PublicationName)</th>
        <th>@Html.DisplayNameFor(model => model.ISBN)</th>
        <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
        <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.CategoryType)</td>
            <td>@Html.DisplayFor(modelItem => item.AuthorName)</td>
            <td>@Html.DisplayFor(modelItem => item.PublicationName)</td>
            <td>@Html.DisplayFor(modelItem => item.ISBN)</td>
            <td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
            <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
